@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Employees";
}

<h1>All Employees</h1>

<br />
<br />

<a asp-controller="Employee" asp-action="Create" class="btn btn-primary">Create New Employee</a>

<br />

@if(Model.Count() > 0)
{
    <table class="mt-4 table table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(E => E.Name)</th>
                <th>@Html.DisplayNameFor(E => E.Age)</th>
                <th>@Html.DisplayNameFor(E => E.Salary)</th>
                <th>@Html.DisplayNameFor(E => E.IsActive)</th>
                @* <th>@Html.DisplayNameFor(E => E.PhoneNumber)</th> *@
                <th>@Html.DisplayNameFor(E => E.Gender)</th>
                @* <th>@Html.DisplayNameFor(E => E.EmployeeType)</th> *@
                @* <th>@Html.DisplayNameFor(E => E.HiringDate)</th> *@
                <th>@Html.DisplayNameFor(E => E.Email)</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var employee in Model)
            {
                <tr>
                    <td>@employee.Name</td>
                    <td>@employee.Age</td>
                    <td>@employee.Salary</td>
                    <td>@employee.IsActive</td>
                    <td>@employee.Gender</td>
                    <td>@employee.Email</td>
                    <td>
                        <a asp-controller="Employee" asp-action="Details" asp-route-id="@employee.Id" class="btn btn-warning">
                            <i class="fas fa-eye"></i>Details
                        </a>
                    </td>
                    <td>
                        <a asp-asp-controller="Employee" asp-action="Edit" asp-action="Details" asp-route-id="@employee.Id" class="btn btn-success">
                            <i class="fas fa-edit"></i>Update
                        </a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmationModal-@employee.Id">
                            <i class="fas fa-trash"></i> Delete
                        </button>
                        <div class="modal fade" id="deleteConfirmationModal-@employee.Id" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel-@employee.Id" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteConfirmationModalLabel-@employee.Id">Delete Confirmation</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete this employee?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <form method="post" asp-controller="Employee" asp-action="Delete" asp-route-id="@employee.Id">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="mt-4 alert-warning">
        <h3>There is No Employee :(</h3>
    </div>
}


